@model Dish

<h1>Add a Dish!</h1>

<form class = "col-5" asp-action="ProccessDish" asp-controller="Home" method="post">
        <div class="form-group">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="Calories"></span>
            <label asp-for="Calories"></label>
            <input asp-for="Calories" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="ChefId"></label>
            <select asp-for="ChefId" class="form-control">
            @foreach(var c in ViewBag.Chefs)
                {
                
                <option value="@c.ChefId">@c.FirstName @c.LastName</option>
                
                }
                
            </select>

        </div>
        <div class="form-group">
            <span asp-validation-for="Description"></span>
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="form-group">
            <span asp-validation-for="Tastiness"></span>
            <label asp-for="Tastiness"></label>
            <input asp-for="Tastiness" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add Dish">
        </div>
</form>